body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid #ccc;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #eee;
}

.status {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.reset {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.reset:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    color: #4caae8; /* This changes the color of h1 headings to a shade of blue */
}

.hero {
    background-image: url("face1.jpg");
}
